.profile-bar{
    background-color: white;
    width: 15%;
    height: 95vh;
    margin-right: 1.5rem;
    box-shadow: 10px 10px 36px -30px rgb(0 0 0 / 8%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    position: fixed;
    right: 0;
    top: 1rem;
}

.basic-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.basic-info > div:nth-child(1){
    width: 90px;
    height: 90px;
    border-radius: 16px;
    background-color: #16171D;
    color: white;
    justify-content: center;
    font-size: xxx-large;
    font-weight: bold;
    font-family: auto;
}

.basic-info > img{
    width: 90px;
    height: 90px;
    border-radius: 16px;
}

.basic-info > button{
    width: 7rem;
    cursor: pointer;
}

.basic-info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-info > div > h4{
    color: #101C56;
    font-size: medium;
    font-family: auto;
    text-transform: capitalize;
}

.basic-info > div > span{
    font-size: small;
    font-family: auto;
    text-transform: lowercase;
    color: #666666;
}

.calendar-wrapper{
    background-color: #F5F7FE;
    border: 1px solid #B7B9C5;
    border-radius: 12px;
    width: 100%;
}

.react-calendar{
    border: none;
    background-color: transparent;
}

.react-calendar__month-view__weekdays{
    text-transform: capitalize;
    color: #666666;
}

.react-calendar__tile--now{
    background: #3755DB;
    border-radius: 8px;
}

.react-calendar__tile--now:enabled:hover{
    background: #596fce;
}

.react-calendar__month-view__days__day--neighboringMonth{
    color: #BFBFBF;
}

abbr{
    text-decoration: none;
}

.picture-upload-modal{
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.picture-upload-modal > span{
    font-family: auto;
    font-size: larger;
    font-weight: 600;
}

.picture-upload-modal > div{
    width: 20rem;
    height: 20rem;
    border-radius: 1.5rem;
    background: url("../assets/profile.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
}

.picture-upload-modal > button{
    padding: 1rem;
    border-radius: 0.8rem;
    font-family: auto;
    font-size: large;
    color: white;
    background-color: #3754DB;
    border: none;
}

.picture-upload-modal > button:hover{
    transform: scale(1.02);
}

@media screen and (max-width: 1024px) {
    .profile-bar {
        width: 20%;
        padding: 0 0.5rem;
    }

    .basic-info > img {
        width: 70px;
        height: 70px;
    }

    .basic-info > button {
        width: 6rem;
    }

    .basic-info > div > h4 {
        font-size: small;
    }

    .basic-info > div > span {
        font-size: x-small;
    }
}

@media screen and (max-width: 768px) {
    .profile-bar{
        display: none;
    }
}