h4,span{
    margin: 0;
    padding: 0;
}

.banner-placeholder{
    width: 90%;
    height: 9rem;
    border: 1px solid black;
    border-radius: 20px;
    background: url("../assets/banner.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 0 3rem;
}

.banner-placeholder > p{
    color: white;
    font-family: auto;
    font-size: larger;
    width: 60%;
    font-style: italic;
}

.banner-placeholder > p:nth-child(2){
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
}

.task-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.task-wrapper > span{
    font-size: larger;
    font-family: auto;
    font-weight: 600;
}