h5{
    padding: 0;
    margin: 0;
}

.main-box{
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-box{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 1px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 2rem;

}

.sign-box > div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

.sign-box > div:nth-child(2){
    background-color: #3754DB;
    background-image: url(../assets/signbox.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    z-index: 1;
}

.slide{
    transform: translateX(100%);
}

.sign-box > div:nth-child(2) > h5{
    font-size: 2.5rem;
    color: whitesmoke;
    font-family: auto;
    line-height: 4rem;
}

.inputs{
    flex-direction: column;
    gap: 2rem;
}

.slide-form{
    transform: translateX(-100%);
}

.inputs > div{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.inputs > div > h5{
    font-family: auto;
    font-size: x-large;
    text-transform: capitalize;
}

.inputs > div > span{
    color: #62667E;
    font-size: medium;
    font-family: auto;
}

.inputs > div:nth-child(2){
    gap: 1rem;
}

.inputs > div:nth-child(3){
    flex-direction: row;
    justify-content: space-evenly;
}

.inputs > div:nth-child(3) > input{
    width: 8%;
    height: 8%;
    padding: 1.3rem 1rem;
    text-align: center;
}

.inputs > div > input{
    padding: 1rem 0.7rem;
    border: 1px solid gray;
    border-radius: 0.7rem;
}

.inputs > button{
    width: 50%;
    padding: 1rem;
    border-radius: 0.8rem;
    font-family: auto;
    font-size: medium;
    border: none;
    background-color: #3754DB;
    color: white;
    transition: tranform 0.5s ease-in-out;
}

.inputs > button:hover{
    transform: scale(1.05);
}

.toggleButton{
    color: #3754DB;
    position: fixed;
    top: 4rem;
    right: 15rem;
    transition: all 0.5s ease-in-out;
    border-radius: 0.8rem;
    border: 1px solid;
    z-index: 1000;
}

.toggleButton:hover{
    transform: scale(1.05);
}

.login{   
    border-color: #3754DB;
    background-color: transparent;
    font-size: medium;
    padding: 0.7rem 2.2rem;
}

.login:hover{
    background-color: #3754DB;
    border-color: #111;
    color: white;   
}

.signup{
    border: none;
    background-color: white;
    padding: 1rem 1.5rem;
    font-size: smaller;
}

@media (max-width: 1024px) {
    .sign-box {
        width: 85%;
        height: 85%;
    }

    .sign-box > div:nth-child(2) > h5{
        font-size: 2rem;
    }

    .inputs > div {
        width: 70%;
    }

    .inputs > button {
        width: 70%;
    }

    .toggleButton {
        top: 4.5rem;
        right: 7rem;
        padding: 0.6rem 1.5rem;
        font-size: 0.9rem;
    }

    .signup{
        padding: 1rem 1.2rem;
    }
}

@media (max-width: 768px) {
    .sign-box {
        width: 95%;
        height: 95%;
    }


    .sign-box > div:nth-child(2) > h5 {
        font-size: 2rem;
        line-height: 3rem;
        padding: 0 1rem;
    }

    .inputs {
        gap: 2rem;
    }

    .inputs > div {
        width: 80%;
    }

    .inputs > button {
        width: 80%;
    }

    .toggleButton {
        top: 3rem;
        right: 3rem;
        font-size: 0.8rem;
    }

    .login{
        padding: 0.8rem 2rem;
    }

    .signup{
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .sign-box {
        width: 90%;
        height: 90%;
        flex-direction: column-reverse;
    }

    .sign-box > div{
        width: 100%;
        height: 50%;
    }

    .sign-box > div:nth-child(2) > h5 {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    .inputs{
        gap: 0.6rem;
    }

    .inputs > div {
        width: 60%;
    }

    .inputs > div > h5 {
        font-size: medium;
    }

    .inputs > div > span {
        font-size: 0.9rem;
    }

    .inputs > div > input {
        padding: 0.75rem;
        font-size: 0.5rem;
    }

    .inputs > button {
        width: 60%;
        font-size: 1rem;
        padding: 0.8rem;
    }

    .slide{
        transform: translateY(-100%);
    }

    .slide-form{
        transform: translateY(100%);
    }

    .toggleButton {
        top: 3rem;
        right: 3rem;
    }

    .signup {
        font-size: small;
        padding: 0.8rem;
    }

    .login{
        font-size: small;
        padding: 0.5rem 1rem;
    }
}